.loginsignup {
  width: 100%;
  height: 90vh;
  background: #fce3fe;
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
}

.loginsignup-container {
  width: 100%;
  max-width: 580px; /* Responsive max width */
  background: white;
  padding: 40px 60px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  border-radius: 10px; /* Rounded corners */
}

.loginsignup-container h1 {
  margin-bottom: 20px;
  font-size: 24px; /* Consistent heading size */
}

.loginsignup-fields {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Consistent gap */
}

.loginsignup-container button {
  width: 100%; /* Full width button */
  height: 50px; /* Consistent button height */
  background: #ff4141;
  color: white;
  font-size: 18px; /* Consistent font size */
}

.loginsignup-login {
  margin-top: 20px;
  color: #5c5c5c;
  font-size: 18px;
  font-weight: 500;
}

.loginsignup-login span {
  color: #ff4141;
  font-weight: 600;
}

.loginsignup-agree {
  display: flex;
  align-items: center;
  margin-top: 25px;
  gap: 20px;
  color: #5c5c5c;
  font-size: 18px;
  font-weight: 500;
}

input[type="checkbox" i] {
  height: 20px;
  width: 20px;
}
