* {
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "poppins";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media (max-width: 768px) {
  body {
    font-size: 14px; /* Adjust font size for smaller screens */
  }
  .navbar {
    flex-direction: column; /* Stack navbar items vertically */
  }
}

@media (max-width: 480px) {
  .offers {
    flex-direction: column; /* Stack offers vertically on small screens */
    padding: 20px; /* Reduce padding */
  }
}
